@import "../../../../styles/partials/variables";
.form--table {
    display: flex;
    width:600px;
    margin: 0 auto; 
    justify-content: center;
    align-items: center;
    &__item {
        
        &-l {
          flex: 0 1 calc(50% - 10px);
          /* width:300px; */
            }
        &-sm {
          flex: 0 1 calc(25% - 10px);
         /*  width:150px; */
          margin-left: 10px;           
        }
    }
    &-control {
      width: 100%;
      height: 2.5rem;
      background: none;
      border: 0px;
      border: $pink-border;
      border-radius: $main-border-radius;
      &--access {
         height: 2rem;
      }
      &:focus {
         outline: none;
      }
    }

}

.flex2 {
 /*  display: flex; */
  
  margin: 0 auto;
  border: 1px solid red;
  justify-content: center;
  align-items: center;
}

.table {
  border: 3px dashed red;
  width: 33%;
  padding: 20px;
}