<div>
  <div>
    <form class="form__table">
      <!-- <mat-form-field class="example-full-width">
        <input matInput placeholder="Favorite food" value="Sushi">
      </mat-form-field> -->
      <div class="form__table-item--xl">
        <input type="text" 
          name="nombre"
          placeholder="Nombre de la mesa" 
          [(ngModel)]="model.tableName"
          id="table-name" 
          required class="form__table-control">
      </div>

      <div class="form__table-item--m">
        <input type="number" 
          name="numero"
          min="4" max="20" 
          placeholder="Nº invitados" 
          id="guest-number" 
          [(ngModel)]="model.guestNumber"
          required
          class="form__table-control">
      </div>

      <div class="form__table-item--m">
        <div href="#sent-password" class="button" (click)="createTable()">Crear mesa</div>
      </div>
    </form>
  </div>


  <div class="table__list">
    <ul> <!-- *ngIf="tables.weddingId === 1" -->
      <li class="table" *ngFor="let table of tableList$ | async">
        <!-- <button (click)="deleteTable(table.id)">Delete Table</button> -->
        <div class="form__table-item--s">{{table.name}}</div>

        <div class="form__table-item--s">Nº invitados: {{table.maxGuestCount}}</div>

        <div class="form__table-item--xs">
          <button class="button--edit" (click)="openDialog(table)">Editar</button>
           <!-- <button class="button--delete" (click)="deleteTable(table)">Borrar</button> -->
        </div>

        <span>Listado de invitados: </span>
        
        <ul>
          <li class="guestname" *ngFor="let guest of guestsService.getGuestByTable(table)| async">
            <span >, {{ guest.name }}</span>
          </li>
        </ul>
      </li>
    </ul>
  </div>