@import "../../../../styles/partials/variables";

.table {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 0px;
  
  border-bottom: 1px dashed $dark-pink;
  &:hover {
    background-color: rgba(#701658,0.1);
    border-radius: $main-border-radius;
  }
  &__list {
    margin-bottom: 50px;
  }
  &__maxGuests {
    font-size: $font-s;
    margin-right: 20px;
  }
}

.table__guestList {
  &-title {
    width: 200px;
   }
  &-names {
    display: inline-flex;
    width: 100%;
  }
  &-guestname {
    font-size: $font-xs;
  }
}

@media screen and (max-width: 767px) {
  .form__table-item--m {
    flex: 1 0 calc(80% - 10px);
  }
  .form__table-item--s {
    flex: 1 0 calc(40% - 10px);
  }
  .form__table-item--xs {
    flex: 1 0 calc(20% - 10px);
  }

  .table {
    &__maxGuests {
      display: none;
    }
    &__guestList {
      display: none;
    }
}
button {
  width: auto;
    min-width: inherit;
    font-size: 0.75rem;
}
}