<div>
  <div>
    <form class="form__table">
      <!-- <mat-form-field class="example-full-width">
        <input matInput placeholder="Favorite food" value="Sushi">
      </mat-form-field> -->
      <div class="form__table-item--xl">
        <input type="text" 
          name="nombre"
          placeholder="Nombre de la mesa" 
          [(ngModel)]="model.tableName"
          id="table-name" 
          required class="form__table-control">
      </div>

      <div class="form__table-item--xs">
        <input type="number" 
          name="numero"
          min="4" max="20" 
          placeholder="Nº invitados" 
          id="guest-number" 
          [(ngModel)]="model.guestNumber"
          required
          class="form__table-control">
      </div>

      <div class="form__table-item--m">
        <div class="button" (click)="createTable()">Crear mesa</div>
      </div>
    </form>
  </div>


  <div class="table__list">
    <ul> 
      <li class="table" *ngFor="let table of tableList$ | async">
        <div class="form__table-item--s">{{table.name}}</div>
        <div class="form__table-item--xs"><span class="guestnumber">Nº invitados: {{table.maxGuestCount}}</span></div>
        <div class="form__table-item--xl">
        <span class="list__title">Listado de invitados: </span>
        <ul class="list__names">
          <li class="list__guestname" *ngFor="let guest of guestsService.getGuestByTable(table)| async">
            <span class="guestname">{{ guest.name }},&nbsp; </span>
          </li>
        </ul>
      </div>
      <div class="form__table-item--xs">
        <button class="button__edit" (click)="openDialog(table)">Editar</button>
        <button class="button__delete" (click)="deleteTable(table)">Borrar</button> 
      </div>

      </li>
    </ul>
  </div>