@import "../../../../styles/partials/variables";

.table {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 0px;
  border-bottom: 1px dashed $dark-pink;
    &__width {
      min-width: 900px;
    }
  &:hover {
    background-color: rgba(#701658, 0.1);
    border-radius: $main-border-radius;
  }
  &__info {
    &-number {
      font-size: $font-m;
      text-align: left;
    }
    &-title {
      font-size: $font-xs;
    }
    &-content {
      display: flex;
      align-items: center;
    }
  }
} 

.link {
  font-size: $font-xs;
}

.button__delete {
  border-radius: 5px;
}