<div>
  <form (ngSubmit)="addGift(giftForm)" #giftForm="ngForm" class="form__table">
    <div class="form__table-item--xl">
      <input type="text" placeholder="Nombre del regalo" class="form__table-control" name="name" #name="ngModel"
        [(ngModel)]="giftService.selectedGift.name">
    </div>

    <input hidden type="text" value={{null}} ng-value="data" name="guestName" #guestName="ngModel"
      [(ngModel)]="giftService.selectedGift.guestName">

    <div class="form__table-item--s">
      <input type="text" placeholder="Link" class="form__table-control" name="link" #link="ngModel"
        [(ngModel)]="giftService.selectedGift.link">
    </div>

    <div class="form__table-item--s">
      <input type="number" placeholder="€" class="form__table-control" name="price" #price="ngModel"
        [(ngModel)]="giftService.selectedGift.price">
    </div>

    <div class="form__table-item--s">
      <button type="submit" class="button" type="submit">Crear</button>
    </div>
  </form>
</div>


<div class="jumbotron__centred">
  <ul class="table__width">
    <li class="table" *ngFor="let gift of giftService.gifts">
      <div class="form__table-item--m table__name">{{gift.name}}</div>
      <a class="form__table-item--xs table__link" target="_blank" href="{{gift.link}}">Link Producto</a>
      <div class="form__table-item--s table__info">
        <div *ngIf="gift.guestName === null else guestGift" class="table__info-gift">
          <p class="table__guestname">Sin asignar</p>
          <svg class="table__info-svg">
            <use xlink:href="../assets/svg/sprite.svg#gift-red"></use>
          </svg>
        </div>

        <ng-template #guestGift class="table__info-gift">
          <p class="table__guestname" >{{gift.guestName}}</p>
          <svg class="table__info-svg">
            <use xlink:href="../assets/svg/sprite.svg#gift-green"></use>
          </svg>
        </ng-template>
      </div>

      <div class="form__table-item--xs table__price">
        {{gift.price |currency:'EUR':'symbol':'1.0-0'}}
      </div>

      <div class="form__table-item--s">
        <button class="button__delete" (click)="deleteGift(gift._id)" data-toggle="modal"
          data-target="#deleteGift">Borrar</button>
      </div>


    </li>
  </ul>
</div>
