@import "../../../../styles/partials/variables";
@import "../../../../styles/partials/rem";

.title {
    text-align: center;
    font-family: $main-font;
    font-size: $font-xl;
}

.center {
    display: flex;
    justify-content: center;
}

.table th, .table td {
    padding: 10px;
    text-align: left;
    /* font-size: 0.8rem; */
  }

@media screen and (max-width: 767px) {
  .title {
    font-size: $font-m;
  }
  .mat-dialog {
    &-content {
    padding: 5px;
    }
    &-title {
    margin-bottom: 10px;
    }
  }
  tr > th:nth-child(3),
  tr > th:nth-child(4) {
    display: none;
  }
  tr > td:nth-child(3),
  tr > td:nth-child(4) {
    display: none;
  }
  .table th, .table td {
    padding: 5px;
    font-size: $font-s;
  }
  
}