<div class="container2">
  <h1>&bull; Contacta con nosotros &bull;</h1>

  <div class="icon_wrapper">
    <svg class="icon" width="75" height="75">
      <use xlink:href="../assets/svg/sprite.svg#suit"></use>
    </svg>
    <svg class="icon" width="80" height="80">
      <use xlink:href="../assets/svg/sprite.svg#dress"></use>
    </svg>
  </div>

  <form action="#" method="post" id="contact_form">
    <div class="name">
      <label for="name"></label>
      <input type="text" placeholder="Su nombre" name="name" id="name_input" required>
    </div>
    <div class="email">
      <label for="email"></label>
      <input type="email" placeholder="Su email" name="email" id="email_input" required>
    </div>
    <div class="telephone">
      <label for="name"></label>
      <input type="text" placeholder="Su número" name="telephone" id="telephone_input" required>
    </div>
    <div class="subject">
      <label for="subject"></label>
      <select placeholder="Subject line" name="subject" id="subject_input" required>
        <option disabled hidden selected>Indique el motivo</option>
        <option>Quiero organizar mi boda</option>
        <option>Quiero organizar otro evento</option>
        <option>Quiero contratar al encargado de esta web</option>
      </select>
    </div>
    <div class="message">
      <label for="message"></label>
      <textarea name="message" placeholder="Déjanos un mensaje" id="message_input" cols="30" rows="5"
        required></textarea>
    </div>
    <div class="submit">
        <a href="#" role="button" class="button button--empty">Enviar</a>
    </div>
  </form><!-- // End form -->
</div><!-- // End #container -->
