<body class="background-image">
  <div class="banner banner--img">
    <h1 class="banner__title">{{userInfo.bride}} & {{userInfo.groom}}</h1>
    <p class="banner__data">{{userInfo.date}}<p>
        <p class="banner__data">{{userInfo.eventPlace}}<p>
  </div>



  <div class="presents">
    <div class="jumbotron__centred">
      <a class="button" (click)="all()">
        <p class="jumbotron__box-text">Todos los regalos</p>
      </a>
      <a class="button" (click)="cheapGifts()">
        <p class="jumbotron__box-text">Hasta 100€</p>
      </a>
      <a class="button" (click)="middleGifts()">
        <p class="jumbotron__box-text">100€ a 300€</p>
      </a>
      <a class="button" (click)="expensiveGifts()">
        <p class="jumbotron__box-text">Más de 300€</p>
      </a>
      <a class="button button--empty">
        <p (click)="pay(150)" class="btn btn-primary btn-block">Enviar 150€</p>
      </a>
    </div>

    <a *ngFor="let gift of giftService.gifts" class="presents__item">
      <div *ngIf="gift.guestName === null else giftGiven">
        <a class="presents__item-link" (click)="editGift(gift)" data-toggle="modal" data-backdrop="static"
        data-target="#editGift" role="button">{{gift.name}}</a>
      </div>
      <ng-template #giftGiven>
        <del class="giftGiven">{{gift.name}}</del>
      </ng-template>

      <div class="modal fade" id="editGift" tabindex="-1" role="dialog" aria-labelledby="editDataLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal__header">
              <p>{{giftService.selectedGift.name}}</p>
            </div>

            <div class="jumbotron__centred jumbotron__centred--around">
              <a href="{{giftService.selectedGift.link}}" target="_blank">Detalles del producto en este <span>Link</span></a>
              <p class="price">{{giftService.selectedGift.price |currency:'EUR':'symbol':'1.0-0'}}</p>
            </div>

            <form #giftForm="ngForm" (ngSubmit)="addGift(giftForm)" class="form">
              <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="giftService.selectedGift._id">
              <input type="hidden" name="link" #link="ngModel" [(ngModel)]="giftService.selectedGift.link">
              <input type="hidden" name="name" #name="ngModel" [(ngModel)]="giftService.selectedGift.name">
              <input type="hidden" name="price" #price="ngModel" [(ngModel)]="giftService.selectedGift.price">
              <input type="hidden" name="guestName" #guestName="ngModel" [(ngModel)]="guestID">
              <button (click)="addGift(giftForm)" data-dismiss="modal" class="button button__success">Seleccionar</button>
              <button data-dismiss="modal" class="button button__delete">Otro regalo</button>
            </form>
          </div>
        </div>
      </div>

    </a>
  </div>

</body>




<!-- <button (click)="cheapGifts()">Regalos < 100€</button>
    <div *ngIf="cheapGift">
      <div *ngFor="let gift of giftService.gifts">
        <div class="form__table-item--s">{{gift.name}}</div>
      </div>
    </div>

    <button (click)="middleGifts()">Regalos entre 100€ y 300€</button>
    <div *ngIf="middleGift">medios!</div>
    <button (click)="expensiveGifts()">Regalos >300€</button>
    <div *ngIf="expensiveGift">caros</div>
 -->

<!--  <div class="main__center">
  <form #gift="ngForm" (ngSubmit)="editGift(gift)"class="form">
    <div *ngFor="let gift of giftService.gifts">
      <label class="radio radio__btn">
        <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="giftService.selectedGift._id">
        <input type="radio" class="radio__control"
        name="{{gift.name}}" #{{gift.name}}="ngModel" value="{{gift.name}}" [(ngModel)]="giftService.selectedGift.guestName">
        <span class="radio__custom">
          {{gift.name}}
        </span>
      </label>
    </div> 
 <button type="submit" 
 data-toggle="modal" data-target="#giftModal" data-backdrop="static"
 class="button button--lg">Voy a la boda!</button>
  </form>
</div> -->
