@import "../../../../styles/partials/variables";
@import "../../../../styles/partials/rem";
@import "../../../../styles/partials/modals";

.background-image {
  background: url('../../../../assets/img/gifts.jpg');
  height: 100vh;
  background-size: cover;
}

.presents {
  max-width: 800px;
  margin: 50px auto 0 auto;
  padding:15px; 
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.9);
  &__item{
    flex: 0 0 33%;
    display: flex;
    justify-content: center;
    
  }
}