@import "../partials/variables";
@import "../partials/rem";

.modal {
  top: rem(100px);
  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: rem(50px);
    border-radius: rem(5px) rem(5px) 0 0;
    background-color: $main-color;
    color: $white;
    text-transform: uppercase;
    font-size: $font-l;
    padding: 10px;
    text-align: center;
  }
  &__close {
    position: absolute;
    top: 0;
    right: rem(20px);
    text-decoration: none;
    color: $white;
    font-size: $font-xl;
    &--danger {
      color: $danger;
    }
  }
  
}

.modal-backdrop.show {
  opacity: 0.7 !important;
}

@media screen and (max-width: 767px) {
  .modal {
    top:20px;
    &__close {
      position: absolute;
      top: 0;
      right: rem(10px);
      text-decoration: none;
      color: $white;
      font-size: $font-xl;
      &--danger {
        color: $danger;
      }
    }
}
}