@import "../partials/variables";
@import "../partials/rem";

.modal {
  top: rem(100px);
  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: rem(50px);
    border-radius: rem(5px) rem(5px) 0 0;
    background-color: $main-color;
    color: $white;
    text-transform: uppercase;
    font-size: $font-l;
  }
  &__close {
    position: absolute;
    top: 0;
    right: rem(20px);
    text-decoration: none;
    color: $white;
    font-size: $font-xl;
    &--danger {
      color: $danger;
    }
  }
}



// Modal background
/* .modal-backdrop {
  background-color: red;

  // Fade for backdrop
  &.fade { opacity: 0; }
  &.show { opacity: 0.5; }
} */
