
// --- COLORS ---
$dark-pink: rgb(112, 22, 88);
$dark-pink-op: rgba(112, 22, 88, 0.5);
$danger: #D53E3E;
$success: #3AA64A;

// --- BORDERS ---
$pink-border: 1px solid $dark-pink;
$main-border-radius: 5px;

// --- FONTS ---
$bold: 700;

