<div>
  <div class="myevent-nav">
    <div class="myevent-nav__title">Invitación por Whatsapp</div>
    <div class="myevent-nav__content">

      <a href="https://wa.me/?text=wedding.sit/b&r" class="button" target="_blank">Enviar
        <svg class="right" width="25" height="25">
          <use xlink:href="../assets/svg/sprite.svg#whatsapp"></use>
        </svg>
      </a>
    </div>
  </div>
  <hr>
  <div class="myevent-nav">
    <div class="myevent-nav__title">Enlace Invitación</div>
    <div class="myevent-nav__content">
        <a (click)="copyLink(eventLink)" value="click to copy" class="button button--empty" target="_blank">Copiar</a>
        <input type="text" class="myevent-nav__content__input" value="bemyguest.com/c&a" #eventLink>
        
    </div>
  </div>
  <hr>
  <div class="myevent-nav">
    <div class="myevent-nav__title">Compartir galeria fotos</div>
    <div class="myevent-nav__content">
      <a (click)="copyLink(eventLink)" value="click to copy" class="button" target="_blank">Copiar</a>
      <input type="text" class="myevent-nav__content__input" value="/c&a/gallery" #eventLink>
      
  </div>
  </div>
  <hr>
  <div class="myevent-nav">
    <div class="myevent-nav__title">Crear/editar categorias</div>
    <div class="myevent-nav__content">
      <mat-form-field class="example-chip-list">
        <mat-chip-list #chipList aria-label="Fruit selection">
          <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable" [removable]="removable"
            (removed)="remove(fruit)">
            {{fruit.name}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="Categorías" [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
      </mat-form-field>
    </div>
  </div>
  <hr>
  <div class="myevent-nav">
    <div class="myevent-nav__title">Datos personales</div>
    <div class="myevent-nav__content">
      <form (ngSubmit)="saveUserData(userForm)" #userForm="ngForm" *ngIf="userInfo">
      <div class="form-group text-item">
        <label for="event-place" class="form-group__label">¿Dónde se celebra?</label>
        <input type="text" id="event-place" required placeholder="El nombre de la finca / salón "
          class="form__group-control form__group-control--access" [value]="userInfo.eventPlace">
      </div>
      <div class="form-group text-item">
        <label for="date" class="form-group__label">Fecha</label>
        <input type="date" id="date" required class="form__group-control form__group-control--access" [value]="userInfo.date">
      </div>
      <div class="form-group text-item">
        <label for="email" class="form-group__label">Email</label>
        <input type="email" id="email" [(ngModel)]="userInfo.email" name="email" #email="ngModel" 
        required class="form__group-control form__group-control--access">
      </div>
      <div class="form-group text-item">
        <label for="phone" class="form-group__label">Teléfono</label>
        <input type="tel" id="phone" class="form__group-control form__group-control--access" [value]="userInfo.phone">
      </div>
      <div class="form-group text-item">
        <label for="password" class="form-group__label">Contraseña</label>
        <input type="password" required id="password" class="form__group-control form__group-control--access">
      </div>
      <div class="form-group text-item">
        <label for="password" class="form-group__label">Confirmar contraseña</label>
        <input type="password" required id="password" class="form__group-control form__group-control--access">
      </div>
      <button type="submit">Guardar datos</button>
    </form>
    </div>
  </div>




  <!--  <div>
    <mat-form-field class="example-chip-list">
      <mat-chip-list #chipList aria-label="Fruit selection">
        <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable" [removable]="removable"
          (removed)="remove(fruit)">
          {{fruit.name}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input placeholder="New fruit..." [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
    </mat-form-field>
  </div> -->
</div>
