/* :host {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
} */
@import "../../../../styles/partials/variables";

.error {
  text-align: center;

  &__title {
    font-size: 6rem;
    font-weight: 700;
    margin: 25px 0 25px 0;
  }
  &__num {
    color: $dark-pink;
  }

  &__text {
    margin-top: 1rem;
    font-size: 2.5rem;
    margin-top: 25px;
  }
  &__img {
    margin: 0 15px;
  }
}
