<div class="maincontainer">
  <div class="header">
    <img routerLink='/wedding/my-wedding' class="logo" src="../../../../assets/img/logo1a.png" alt="logo Be My Guest" id="logo">

    <nav class="header__nav">
      <a class="header__nav-home" routerLink='/wedding/my-wedding' *ngIf="userservice.loggedIn()">Home</a>
      <a routerLink='/blog'>Blog</a>
      <a routerLink='/contact'>Contacto</a>
    </nav>

    <nav class="header__buttons">
      <button routerLink='/register' role="button"class="button button--empty"
       *ngIf="!userservice.loggedIn()">Nuevo ususario</button>
      <button routerLink='/login' role="button" class="button" *ngIf="!userservice.loggedIn()">Acceder</button>
      <a routerLink='/login' *ngIf="userservice.loggedIn()" (click)="userservice.logOut()" class="header__logout">
        Cerrar sesión
        <svg class="header__logout--icon" width="20" height="20">
          <use xlink:href="../assets/svg/sprite.svg#window-close"></use>
        </svg></a>
    </nav>

  </div>
</div>
