<div class="maincontainer header__flexbox">
  <img routerLink='/wedding' class="logo" src="../../../../assets/img/logo.png" height='80' alt="mesa de bodas">
  <nav class="navbar">
      <a routerLink='/wedding' class="navbar__item">Home</a>
      <a href="#" class="navbar__item">Blog</a>
      <a href="#" class="navbar__item">¿Te casas?</a>
      <a href="#" class="navbar__item">Contacto</a>
      <a routerLink='/register' href="#sent-password" role="button" class="button button--empty">Nuevo ususario</a>
      <a routerLink='/login' href="#sent-password" role="button" class="button ">Acceder</a>
      

  </nav>  
</div>
