<div class="banner banner--img">
  <h1 class="banner__title">Cupido & Apolonia</h1>
  <p class="banner__data">25 Noviembre 2020<p>
      <p class="banner__data">Finca Prados Moros<p>
</div>


  <div class="maincontainer">
    <ul class="home-menu nav">
          <li class="nav-item">
            <a routerLink='/wedding/my-wedding' routerLinkActive="active" class="home-menu__item" id="pills-tables-tab" data-toggle="pill" href="#pills-tables" role="tab"
              aria-controls="pills-tables" aria-selected="true">Mi boda</a>
          </li>
          <li class="nav-item">
              <a routerLink='/wedding/guest-sort' routerLinkActive="active" class="home-menu__item" id="pills-tables-tab" data-toggle="pill" href="#pills-tables" role="tab"
                aria-controls="pills-tables" aria-selected="true">Ordenar mesas</a>
            </li>
            <li class="nav-item">
                <a routerLink='/wedding/gallery' routerLinkActive="active"
                class="home-menu__item" id="pills-gallery-tab" data-toggle="pill" href="#pills-gallery" role="tab"
                  aria-controls="pills-gallery" aria-selected="true">Galeria de fotos</a>
            </li>
            <li class="nav-item">
                <a routerLink='/wedding/guest-list' routerLinkActive="active" class="home-menu__item" id="pills-guests-tab" data-toggle="pill" href="#pills-guests" role="tab"
                  aria-controls="pills-guests" aria-selected="true">Invitados confirmados</a>
              </li>
              <li class="nav-item">
                <a routerLink='/wedding/present-list' routerLinkActive="active" class="home-menu__item" id="pills-guests-tab" data-toggle="pill" href="#pills-guests" role="tab"
                  aria-controls="pills-guests" aria-selected="true">Gestionar regalos</a>
              </li>
    </ul>

    
    <router-outlet></router-outlet>
  </div>
  