<router-outlet></router-outlet>
<div class="row">
  <div class="col-md-12 text-center">

    <div class="btn-group" role="group" aria-label="Basic example">
      <button routerLink='present-list' type="button" class="btn btn-secondary">Regalos</button>
      <button routerLink='guest-sort' type="button" class="btn btn-secondary">Mesas</button>
      <button routerLink='gallery' type="button" class="btn btn-secondary">Galería</button>
      <button routerLink='guest-list' type="button" class="btn btn-secondary">Invitados</button>
    </div>
  </div>
</div>
