 @import "../../../../styles/partials/variables";
 .banner--img {
        background-image: url('../../../../assets/img/back3.jpg');
        background-size: cover;
    }

.home-menu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
    margin-top:15px;
    margin-bottom: 30px;
   
    &__item {
        padding: 15px 50px;
        &.active {
            border-bottom: 2px solid $dark-pink;
            font-weight: 700;
            font-size: 1.2rem;
        }
    }
}
 