<div class="banner banner--img">
  <h1 class="banner__title">{{userInfo.bride}} & {{userInfo.groom}}</h1>
  <p class="banner__data">{{userInfo.date | date}}<p>
      <p class="banner__data">{{userInfo.eventPlace}}<p>
</div>


<div class="maincontainer">
  <div class="home-menu">
    <a routerLink='/wedding/my-wedding' routerLinkActive="active" class="home-menu__link">Mi boda</a>
    <a routerLink='/wedding/present-list' routerLinkActive="active" class="home-menu__link focus-border">Regalos</a>
    <a routerLink='/wedding/guest-list' routerLinkActive="active" class="home-menu__link focus-border">Invitados confirmados</a>
    <a routerLink='/wedding/guest-sort' routerLinkActive="active" class="home-menu__link">Gestión mesas</a>
    <a routerLink='/wedding/gallery' routerLinkActive="active" class="home-menu__link">Galeria</a>
  </div>
  <router-outlet></router-outlet>
</div>
