 @import "../../../../styles/partials/variables";
 @import "../../../../styles/partials/rem";

 .banner--img {
   background-image: url('../../../../assets/img/back3.jpg');
   background-size: cover;
 }

 .home-menu {
   display: flex;
   justify-content: space-around;
   //list-style: none;
   margin-bottom: 25px;

   &__link {
     flex: $calc20;
     padding: 10px 0;
     color: $main-color;
     border-radius: 0 0 5px 5px;
     text-align: center;
     position: relative;
     &.active {
        //background: linear-gradient(0deg, rgba(112,22,88,1) 0%, rgba(145,28,114,1) 100%);
        background-color: $white;
        font-weight: 700;
        //color: $white;
        border-left: 2px solid $main-color;
        border-right: 2px solid $main-color;
        border-bottom: 2px solid $main-color;
       &::before {
         content: "";
         position: absolute;
         top: rem(13px);
         left: calc(50% - 15px);
         z-index: -1;
         width: 30px;
         height: 30px;
         background: $main-color;
         transform: rotate(45deg);
       }
     }
   }

 }
