<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="6000">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="slider" src="../../../assets/img/slider1.jpg" alt="First slide">
        <div class="carousel-item__background d-none d-md-block">
          <h3 class="carousel-item__title">Organiza</h3>
          <p class="carousel-item__text">Te ayudamos en la organización de todo tipo de eventos</p>
        </div>
       <!--  eliminada clase carousel-caption -->
      </div>
      <div class="carousel-item">
        <img class="slider" src="../../../assets/img/slider2.jpg" alt="Second slide">
        <div class="carousel-item__background  d-none d-md-block">
          <h3 class="carousel-item__title">Planifica</h3>
          <p class="carousel-item__text">Facilitamos herramientas para que no falta nada en tu día</p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="slider" src="../../../assets/img/slider3.jpg" alt="Third slide">
        <div class="carousel-item__background  d-none d-md-block">
          <h3 class="carousel-item__title">Distribuye</h3>
          <p class="carousel-item__text">Escoge la forma en que vas a sentar a tus invitados</p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="slider" src="../../../assets/img/slider4.jpg" alt="Fourth slide">
        <div class="carousel-item__background  d-none d-md-block">
          <h3 class="carousel-item__title">Despreocupate</h3>
          <p class="carousel-item__text">Encuentra a los proveedores que mas se adapten a tu evento</p>
        </div>
      </div>
    </div>

    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only"></span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only"></span>
    </a>
  </div>