 @import "../../../../styles/partials/variables";
 @import "../../../../styles/partials/rem";
 @import "../../../../styles/partials/modals";

 // --- TABLE ---
table .thead-dark th {
  background-color: $gray100 !important;
}
th {
  font-size: 1.1rem;
}
.table th, .table td {
  padding: 0.4rem;
  text-align: left;
}
.table tr{
  &:hover {
    background-color: rgba(#701658,0.1);
  }
}
.table__svg {
  width: 25px;
  height: 25px;
  margin-left: 15px;
  margin-top: 4px;
}

.table td {
  vertical-align: middle;  
}


// Cambios respecto a original
.form {
  padding-top: 0;
}
.radio {
  &__custom {
    margin-right: 5px;
  }
}
.mat-snack-bar-container {
  background-color: $success;
  color: $white;
}

@media screen and (max-width: 767px)  {
  thead > th:nth-child(2),
  thead > th:nth-child(3),
  thead > th:nth-child(4),
  thead > th:nth-child(6) {
    display: none;
  }
  tr > td:nth-child(2),
  tr > td:nth-child(3),
  tr > td:nth-child(4),
  tr > td:nth-child(6)
  {
    display: none;
  }

  .table th, .table td {
    padding: 10px;
    text-align: left;
  }

  .table__svg {
    width: 25px;
    height: 25px;
    margin-left: 15px;
    margin-top: 4px;
  }
}