 @import "../../../../styles/partials/variables";
 @import "../../../../styles/partials/rem";
table .thead-dark th {
  background-color: $dark-pink;
}

th {
  font-size: 1.1rem;
}

.table th, .table td {
  padding: 0.4rem;
  text-align: left;
  /* font-size: 0.8rem; */
}

.table tr{
  &:hover {
    background-color: rgba(#701658,0.1);
  }
}

.svg {
  
  margin-left: 15px;
}

.table td {
  vertical-align: middle;  
}

.modal-headers{
  background-color: $dark-pink;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  font-size: rem(25px);
}

// Cambios respecto a original
.form {
  padding-top: 0;
}

.radio {
  &__custom {
    margin-right: 5px;
  }
}


  .modal__close {
    position: absolute;
    bottom: 15px;
    right: 30px;
    text-decoration: none;
    color: $danger;
    font-size: 35px;
  }
