<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Categoria</th>
      <th scope="col">Tel</th>
      <th scope="col">Intolerancias</th>
      <th scope="col">Regalo</th>
      <th scope="col">Mesa</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <!-- <th scope="row">1</th> -->
      <td>Enrique</td>
      <td>Boream</td>
      <td>674567567</td>
      <td>Sin intolerancias</td>
      <td>-</td>
      <td></td>

    </tr>
    <tr>
      <td>Pareja Enrique</td>
      <td>Boream</td>
      <td>674567567</td>
      <td>Sin intolerancias</td>
      <td>-</td>
      <td></td>
    </tr>
    <tr>
      <td>Carlos</td>
      <td>Master</td>
      <td>678887567</td>
      <td>Lactosa</td>
      <td>-</td>
      <td></td>
    </tr>
    <tr>
      <td>Pareja Carlos</td>
      <td>Master</td>
      <td>678887444</td>
      <td>Lactosa</td>
      <td>-</td>
      <td></td>
    </tr>
    <tr>
      <!-- <th scope="row">1</th> -->
      <td>Cristina</td>
      <td>Futbol</td>
      <td>674567567</td>
      <td>Sin intolerancias</td>
      <td>-</td>
      <td></td>

    </tr>
    <tr>
      <td>Martina</td>
      <td>Futbol</td>
      <td>674567567</td>
      <td>Sin intolerancias</td>
      <td>-</td>
      <td></td>
    </tr>
    <tr>
      <td>Tania</td>
      <td>LOL</td>
      <td>699999555</td>
      <td>Lactosa</td>
      <td>-</td>
      <td></td>
    </tr>
    <tr>
      <td>Pareja Tania</td>
      <td>LOL</td>
      <td>671221144</td>
      <td>Lactosa</td>
      <td>-</td>
      <td></td>
    </tr>
    <tr>
        <td>Alejandro</td>
        <td>Boream</td>
        <td>671221144</td>
        <td>CSS</td>
        <td>-</td>
        <td></td>
      </tr>
      <tr>
          <td>Pareja Alejandro</td>
          <td>Boream</td>
          <td>671221144</td>
          <td>Lactosa</td>
          <td>-</td>
          <td></td>
        </tr>
        <tr>
            <td>Sergio</td>
            <td>Pueblo</td>
            <td>671221144</td>
            <td></td>
            <td>-</td>
            <td></td>
          </tr>
          <tr>
              <td>Mario</td>
              <td>Pueblo</td>
              <td>671221188</td>
              <td>Lactosa</td>
              <td>-</td>
              <td></td>
            </tr>
  </tbody>
</table>

<a routerLink='/wedding/guest-list' role="button" class="button">añadir invitado</a>