<div>
  <table class="table table-striped">
    <thead class="thead-dark">
      <th scope="col">Nombre</th>
      <th scope="col">Amigo de</th>
      <th scope="col">Acompañante</th>
      <!-- <th scope="col">Nombre</th> -->
      <th scope="col">Categoria</th>
      <th scope="col">Teléfono</th>
      <th scope="col">Alergias</th>
      <th scope="col">Gestionar</th>
    </thead>
    <tbody>
      <tr class="table" *ngFor="let guest of guestsService.guests2">
        <td>{{guest.name}}</td>
        <td>{{guest.friendFrom}}</td>
        <!--  <td *ngIf="guest.withCompanion === true;else No">Si</td> 
      <ng-template #No>No</ng-template>-->
        <td>{{guest.nameCompanion}}</td>
        <td>{{guest.category}}</td>
        <td>{{guest.phone}}</td>
        <td>
          <ul>
            <li *ngIf="guest.noAllergies === true">No tiene alergias</li>
            <li *ngIf="guest.queso === true">Queso</li>
            <li *ngIf="guest.marisco === true">Marisco</li>
            <li *ngIf="guest.pescado === true">Pescado</li>
            <li *ngIf="guest.gluten === true">Gluten</li>
          </ul>
        </td>

        <td>
          <a (click)="editGuest(guest)" data-toggle="modal" data-target="#editData" role="button">
            <svg class="svg" width="25" height="25">
              <use xlink:href="../assets/svg/sprite.svg#edit"></use>
            </svg>
          </a>
          <a (click)="deleteGuest(guest._id)">
            <svg class="svg" width="25" height="25">
              <use xlink:href="../assets/svg/sprite.svg#delete"></use>
            </svg>
          </a>
        </td>

      </tr>
    </tbody>
  </table>
</div>

<div class="modal fade" id="editData" tabindex="-1" role="dialog" aria-labelledby="editDataLabel" aria-hidden="true">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal__header">
        <p>{{guestsService.selectedGuest.name}}</p>
      </div>
      <form #guestForm="ngForm" (ngSubmit)="addguest(guestForm)" class="form">


        <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="guestsService.selectedGuest._id">

        <div class="form__group form-group--access">
          <label for="guest_name" class="form-group__label">Nombre</label>
          <input type="text" id="guest_name" required placeholder="Indique su nombre"
            class="form__group-control form__group-control--access" name="name" #name="ngModel"
            [(ngModel)]="guestsService.selectedGuest.name">
        </div>

        <!-- <div class="form__group form-group--access">
        <label for="couple-name" class="form-group__label">Nombre pareja</label>
          <input type="text" id="couple-name" required placeholder="Nombre de su pareja" class="form__group-control form__group-control--access"
          name="nameCompanion" #nameCompanion="ngModel" [(ngModel)]="guestsService.selectedGuest.nameCompanion">
        </div> -->

        <div class="form__group form-group--access">
          <label for="phone" class="form-group__label">Teléfono</label>
          <input type="tel" class="form__group-control form__group-control--access" placeholder="preferiblemente móvil" minlength="9" maxlength="9"
            name="phone" [(ngModel)]="guestsService.selectedGuest.phone" value="Teléfono" >
        </div>



        <div class="form__group form-group--access">
          <label for="friend-of" class="form-group__label">Amigo de...</label>
          <div class="radio__form">
            <label class="radio radio__btn">
              <input type="radio" id="bride-friend" class="radio__control" name="friendFrom" #friendFrom="ngModel"
                value="Novia" [(ngModel)]="guestsService.selectedGuest.friendFrom">
              <span class="radio__custom">
                Novia
              </span>
            </label>
            <label class="radio radio__btn">
              <input type="radio" id="groom-friend" class="radio__control" name="friendFrom" #friendFrom="ngModel"
                value="Novio" [(ngModel)]="guestsService.selectedGuest.friendFrom">
              <span class="radio__custom">
                Novios
              </span>
            </label>
          </div>
        </div>
        <label for="friend-of" class="form-group__label">Conozco a los novios de...</label>
        <div class="radio__form--expanded">
          <label class="radio radio__btn">
            <input type="radio" class="radio__control" required name="category" #category="ngModel" value="Colegio"
              [(ngModel)]="guestsService.selectedGuest.category">
            <span class="radio__custom">
              Colegio
            </span>
          </label>
          <label class="radio radio__btn">
            <input type="radio" class="radio__control" name="category" #category="ngModel" value="Uni"
              [(ngModel)]="guestsService.selectedGuest.category">
            <span class="radio__custom">
              Uni
            </span>
          </label>
          <label class="radio radio__btn">
            <input type="radio" class="radio__control" name="category" #category="ngModel" value="Futbol"
              [(ngModel)]="guestsService.selectedGuest.category">
            <span class="radio__custom">
              Fútbol
            </span>
          </label>
          <label class="radio radio__btn">
            <input type="radio" class="radio__control" name="category" #category="ngModel" value="Pueblo"
              [(ngModel)]="guestsService.selectedGuest.category">
            <span class="radio__custom">
              Pueblo
            </span>
          </label>
          <label class="radio radio__btn">
            <input type="radio" class="radio__control" name="category" #category="ngModel" value="Boream"
              [(ngModel)]="guestsService.selectedGuest.category">
            <span class="radio__custom">
              Boream
            </span>
          </label>
          <label class="radio radio__btn">
            <input type="radio" class="radio__control" name="category" #category="ngModel" value="Baile"
              [(ngModel)]="guestsService.selectedGuest.category">
            <span class="radio__custom">
              Baile
            </span>
          </label>
          <label class="radio radio__btn">
            <input type="radio" class="radio__control" name="category" #category="ngModel" value="Máster"
              [(ngModel)]="guestsService.selectedGuest.category">
            <span class="radio__custom">
              Máster
            </span>
          </label>
          <label class="radio radio__btn">
            <input type="radio" class="radio__control" name="category" #category="ngModel" value="Música"
              [(ngModel)]="guestsService.selectedGuest.category">
            <span class="radio__custom">
              Música
            </span>
          </label>
          <div *ngIf="!category?.valid">
            <p class="error">Indique una categoría para poder continuar</p>
          </div>
        </div>
        <div class="form__group--center">
          <button type="submit" (click)="addguest(guestForm)" data-dismiss="modal" class="button button--lg">Guardar
            cambios</button>
        </div>
      </form>

      <a class="modal__close" data-dismiss="modal">&times;</a>
    </div>
  </div>
</div>
