<div>
  <table class="table table-striped">
    <thead class="thead-dark">
      <th scope="col">Nombre</th>
      <th scope="col">Amigo de</th>
      <th scope="col">Acompañante</th>
      <th scope="col">Nombre</th>
      <th scope="col">categoria</th>
      <th scope="col">Teléfono</th>
      <th scope="col">Alergias</th>
      <th scope="col">Gestionar</th>
    </thead>
    <tbody>
      <tr class="table" *ngFor="let guest of guestsService.guests2">
        <td>{{guest.name}}</td>
        <td>{{guest.friendFrom}}</td>
        <td *ngIf="guest.withCompanion === true;else No">Si</td>

        <ng-template #No>No</ng-template>
        <td>{{guest.nameCompanion}}</td>
        <td>{{guest.category}}</td>
        <td>{{guest.phone}}</td>
        <td>
          <ul>
            <li *ngIf="guest.noAllergies === true">No tiene alergias</li>
            <li *ngIf="guest.queso === true">Queso</li>
            <li *ngIf="guest.marisco === true">Marisco</li>
            <li *ngIf="guest.pescado === true">Pescado</li>
            <li *ngIf="guest.gluten === true">Gluten</li>
          </ul>
        </td>
        <td>
          <a (click)="editGuest(guest)" data-toggle="modal" data-target="#editData" role="button">
            <svg class="svg" width="25" height="25">
              <use xlink:href="../assets/svg/sprite.svg#edit"></use>
            </svg>
          </a>
          <a (click)="deleteGuest(guest._id)">
            <svg class="svg" width="25" height="25">
              <use xlink:href="../assets/svg/sprite.svg#delete"></use>
            </svg>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal fade" id="editData" tabindex="-1" role="dialog" aria-labelledby="editDataLabel"
        aria-hidden="true">

        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <div class="main__center">
                <form #guestForm="ngForm" (ngSubmit)="addGuest(guestForm)" class="form form--register">
                  <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="guestsService.selectedGuest._id">
                  <div class="form__group form-group--access">
                    <label for="guest_name" class="form-group__label">Nombre</label>
                    <input type="text" id="guest_name" required placeholder="Indique su nombre" class="form__group-control form__group-control--access"
                     name="name" #name="ngModel" [(ngModel)]="guestsService.selectedGuest.name">
                  </div>
                  <div class="form__group form-group--access">
                    <label for="phone" class="form-group__label">Teléfono</label>
                    <input type="tel" class="form__group-control form__group-control--access" placeholder="preferiblemente móvil"
                    name="phone" #phone="ngModel" value="Teléfono" [(ngModel)]="guestsService.selectedGuest.phone">
                  </div>
                </form>
              </div>
              <button type="submit" data-dismiss="modal" class="button button--lg">Voy a la boda!</button>
            </div>
            <a data-dismiss="modal" (click)="addGuest(guestForm)">&times;</a>
          </div>
        </div>
      </div>
