 @import "../../../../styles/partials/variables";
table .thead-dark th {
  background-color: $dark-pink;
}

th {
  font-size: 1.1rem;
}

.table th, .table td {
  padding: 0.4rem;
  text-align: left;
  /* font-size: 0.8rem; */
}

.table tr{
  &:hover {
    background-color: rgba(#701658,0.1);
  }
}

.svg {
  
  margin-left: 15px;
}

.table td {
  vertical-align: middle;  
}

