<body class="table-image">
  <main>
    <div class="banner banner--img">
      <h1 class="banner__title">{{userInfo.bride}} & {{userInfo.groom}}</h1>
      <p class="banner__data">25 Noviembre 2020<p>
          <p class="banner__data">Finca Prados Moros<p>
    </div>
    

    <div class="main__center">
      <form  (ngSubmit)="addGuest(guestForm)" #guestForm="ngForm" class="form form--register">
        <div class="form__group--center">
          <h1 class="form__title">Confirmar asistencia</h1>
        </div>

        <label for="friend-of" class="form-group__label">Amigo de...</label>
        
        <div class="radio__form radio__form--centred">
          <label class="radio radio__btn">
            <input type="radio"  id="bride-friend" class="radio__control"
            name="friendFrom" #friendFrom="ngModel" value="Novia" [(ngModel)]="guestsService.selectedGuest.friendFrom">
            <span class="radio__custom">
              Novia
            </span>
          </label>
          <label class="radio radio__btn">
            <input type="radio" id="groom-friend" class="radio__control"
            name="friendFrom" #friendFrom="ngModel" value="Novio" [(ngModel)]="guestsService.selectedGuest.friendFrom">
            <span class="radio__custom">
              Novio
            </span>
          </label>
          <div *ngIf="!friendFrom?.valid">
            <p class="error">Debes indicar a quién conoces para poder continuar</p>
          </div>
        </div>

        <div class="form__group form__group--guests">
          <label for="guest_name" class="form-group__label">Nombre</label>
          <input type="text" id="guest_name" required placeholder="Indique su nombre" class="form__group-control form__group-control--access"
           name="name" #name="ngModel" [(ngModel)]="guestsService.selectedGuest.name">
           <div *ngIf="!name?.valid && name?.touched">
            <p class="error">Debes introducir un nombre para poder continuar</p>
          </div>
        </div>
        

        <label for="hasCouple" class="form-group__label">¿Vienes acompañado?</label>
        <div class="radio__form radio__form--centred">
          <label class="radio radio__btn" for="no-couple">
            <input (click)="toggleCompanion(false)" type="radio" id="no-couple" class="radio__control" required
            name="withCompanion" #withCompanion="ngModel" value=false [(ngModel)]="guestsService.selectedGuest.withCompanion">
            <span class="radio__custom">
              No
            </span>
          </label>
          <label  class="radio radio__btn" for="yes-couple">
            <input (click)="toggleCompanion(true)" type="radio" id="yes-couple" class="radio__control"
            name="withCompanion" #withCompanion="ngModel" value=true [(ngModel)]="guestsService.selectedGuest.withCompanion">
            <span class="radio__custom">
              Si
            </span>
          </label>
          <div *ngIf="!withCompanion?.valid">
            <p class="error">Debes indicar si vienes acompañado para poder continuar</p>
          </div>
        </div>


       <div *ngIf="showcompanion" class="form__group form__group--guests form-group--access">
          <label for="couple-name" class="form-group__label">Nombre pareja</label>
          <input type="text" id="couple-name" required placeholder="Nombre de su pareja" class="form__group-control form__group-control--access"
          name="nameCompanion" #nameCompanion="ngModel" [(ngModel)]="guestsService.selectedGuest.nameCompanion">
          <div *ngIf="!nameCompanion?.valid && nameCompanion?.touched">
            <p class="error">Indique el nombre de su pareja para poder continuar</p>
          </div>
        </div>

        <label for="friend-of" class="form-group__label">Conozco a los novios de...</label>
        <div class="radio__form--expanded">
          <label class="radio radio__btn">
            <input type="radio" class="radio__control" required
            name="category" #category="ngModel" value="Colegio" [(ngModel)]="guestsService.selectedGuest.category"> 
            <span class="radio__custom">
              Colegio
            </span>
          </label>
          <label class="radio radio__btn" >
            <input type="radio" class="radio__control"
            name="category" #category="ngModel" value="Uni" [(ngModel)]="guestsService.selectedGuest.category">
            <span class="radio__custom">
              Uni
            </span>
          </label>
      <label class="radio radio__btn" >
            <input type="radio" class="radio__control"
            name="category" #category="ngModel" value="Futbol" [(ngModel)]="guestsService.selectedGuest.category">
            <span class="radio__custom">
              Fútbol
            </span>
          </label>
          <label class="radio radio__btn" >
            <input type="radio" class="radio__control"
            name="category" #category="ngModel" value="Pueblo" [(ngModel)]="guestsService.selectedGuest.category">
            <span class="radio__custom">
              Pueblo
            </span>
          </label>
          <label class="radio radio__btn" >
            <input type="radio" class="radio__control"
            name="category" #category="ngModel" value="Boream" [(ngModel)]="guestsService.selectedGuest.category">
            <span class="radio__custom">
              Boream
            </span>
          </label>
          <label class="radio radio__btn" >
            <input type="radio" class="radio__control"
            name="category" #category="ngModel" value="Baile" [(ngModel)]="guestsService.selectedGuest.category">
            <span class="radio__custom">
              Baile
            </span>
          </label>
          <label class="radio radio__btn" >
            <input type="radio" class="radio__control"
            name="category" #category="ngModel" value="Máster" [(ngModel)]="guestsService.selectedGuest.category">
            <span class="radio__custom">
              Máster
            </span>
          </label>
          <label class="radio radio__btn" >
            <input type="radio" class="radio__control"
            name="category" #category="ngModel" value="Música" [(ngModel)]="guestsService.selectedGuest.category">
            <span class="radio__custom">
              Música
            </span>
          </label>
          <div *ngIf="!category?.valid">
            <p class="error">Indique una categoría para poder continuar</p>
          </div>
        </div>

        <div class="form__group form__group--guests form-group--access">
          <label for="phone" class="form-group__label">Teléfono</label>
          <input type="tel" class="form__group-control form__group-control--access" placeholder="Número móvil" 
          name="phone" #phone="ngModel" value="Teléfono" [(ngModel)]="guestsService.selectedGuest.phone"
          required pattern="^[9|8|7|6]\d{8}$" maxlength="9">
          <div *ngIf="!phone?.valid && phone?.touched">
            <p class="error">Debes introducir un teléfono válido para poder continuar</p>
          </div>
        </div>

        <div class="form__group form__group--guests form-group--access dropdown">
          <label for="allergies" class="form-group__label">¿Tienes alergia a algún alimento?</label>
          <a class="dropdown__btn" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false">
            <input id="allergies" readonly
              class="dropdown form__group-control form__group-control--access"></a>
          <div class="dropdown__menu" aria-labelledby="dropdownMenuButton">
            <label class="radio--block">
              <input type="checkbox" class="radio__control" (input)="toggleAllergy('noAllergies')"
              name="noAllergies" #noAllergies="ngModel" [(ngModel)]="allergies.noAllergies" 
              placeholder="No tengo alergias">
              <span class="radio__checkbox radio__checkbox--success">
                No tengo alergias
              </span>
            </label>
            <div aria-hidden="true" class="dropdown__menu--divider"></div>
            <label class="radio--block">
              <input [disabled]="showallergies" type="checkbox" class="radio__control" id="02" (click)="toggleAllergy('queso')"
              name="queso" #queso="ngModel" [(ngModel)]="allergies.queso" value="queso">
              <span class="radio__checkbox">
                Queso
              </span>
            </label>
            <label class="radio--block">
              <input [disabled]="showallergies" type="checkbox" class="radio__control" id="03" (click)="toggleAllergy('marisco')"
              name="marisco" #marisco="ngModel" [(ngModel)]="allergies.marisco">
              <span class="radio__checkbox">
                Marisco
              </span>
            </label>
            <label class="radio--block">
              <input [disabled]="showallergies" type="checkbox" class="radio__control" id="04" (click)="toggleAllergy('pescado')"
              name="pescado" #pescado="ngModel" [(ngModel)]="allergies.pescado">
              <span class="radio__checkbox">
                Pescado
              </span>
            </label>
            <label class="radio--block">
              <input [disabled]="showallergies" type="checkbox" class="radio__control" id="05" (click)="toggleAllergy('gluten')"
              name="gluten" #gluten="ngModel" [(ngModel)]="allergies.gluten">
              <span class="radio__checkbox">
                Gluten
              </span>
            </label>
          </div>
        </div>
        <div class="form__group--center">
          <button type="submit" routerLink='gratitude' (click)="resetForm()" [disabled]="guestForm.form.invalid" class="button button--lg">Voy a la boda!</button>
        </div>
      </form>
    </div>
  </main>
