<main class="table-image">
    <div class="main main__center">
        <form action="..." method="get" class="form-lg ">
            <div class="form__group--center text-item--lg">
                <h1 class="form__title">Registra tu boda</h1>
            </div>
            <div class="form-group text-item ">
              <label for="groom" class="form-group__label">La Novia</label>
              <input type="text" id="groom" required placeholder="El nombre de ella"
              class="form-group__control form-group__control--access">
            </div>
            <div class="form-group text-item">
              <label for="bride" class="form-group__label">El Novio</label>
              <input type="text" id="bride" required placeholder="El nombre de él"
              class="form-group__control form-group__control--access">
            </div>
            <div class="form-group text-item">
                <label for="event-place" class="form-group__label">¿Dónde se celebra?</label>
                <input type="text" id="event-place" required placeholder="El nombre de la finca / salón "
                class="form-group__control form-group__control--access">
              </div>
              <div class="form-group text-item">
                <label for="date" class="form-group__label">Fecha</label>
                <input type="date" id="date" required
                 class="form-group__control form-group__control--access">
              </div>
              <div class="form-group text-item">
                <label for="email" class="form-group__label">Email</label>
                <input type="email" id="email" required 
                class="form-group__control form-group__control--access">
              </div>
              <div class="form-group text-item">
                <label for="phone" class="form-group__label">Teléfono</label>
                <input type="tel" id="phone"
                 class="form-group__control form-group__control--access">
              </div>
              <div class="form-group text-item">
                <label for="password" class="form-group__label">Contraseña</label>
                <input type="password" required id="password" 
                class="form-group__control form-group__control--access">
              </div>
              <div class="form-group text-item">
                <label for="password" class="form-group__label">Confirmar contraseña</label>
                <input type="password" required id="password" 
                class="form-group__control form-group__control--access">
              </div>

              <div class="form-group text-item--lg">
                <label for="message-text" class="form-group__label">Peticion especial</label>
                <!-- <textarea id="message-text" cols="20" rows="6" 
                class="form-group__control form-group__control--access"></textarea> -->
                <input type="text" id="comments" 
                class="form-group__control form-group__control--access">
              </div>
            <div class="form-group--center">
                <button type="submit" class="btn btn btn--lg">Si quiero!</button>
            </div>
          </form>
    </div>
    
</main>