<body class="background-image jumbotron__centred">
    <form (ngSubmit)="signUp(userForm)" #userForm="ngForm" class="form-lg ">

      <div class="form__group--center form-basis--lg outOfMobile">
        <h1 class="form__title">Registra tu evento</h1>
      </div>

      <div class="radio__form--centred form-basis--lg">
        <label class="form-group__label aaa">Tipo de evento</label>
      </div>

      <div class="radio__form--centred">
        <label>
          <input type="radio" name="couple" id="BoyGirl" class="radio__control">
          <span (click)="toggleBoyGirl(true)" class="radio__custom">
            <svg width="50" height="50">
              <use xlink:href="../assets/svg/sprite.svg#suit"></use>
            </svg>
            <svg width="50" height="50">
              <use xlink:href="../assets/svg/sprite.svg#dress"></use>
            </svg>
          </span>
        </label>

        <label>
          <input type="radio" name="couple" id="GirlGirl" class="radio__control">
          <span (click)="toggleGirlGirl(true)" class="radio__custom">
            <svg width="50" height="50">
              <use xlink:href="../assets/svg/sprite.svg#dress"></use>
            </svg>
            <svg width="50" height="50">
              <use xlink:href="../assets/svg/sprite.svg#dress"></use>
            </svg>
          </span>
        </label>

        <label>
          <input type="radio" name="couple" id="BoyBoy" class="radio__control">
          <span (click)="toggleBoyBoy(true)" class="radio__custom">
            <svg width="50" height="50">
              <use xlink:href="../assets/svg/sprite.svg#suit"></use>
            </svg>
            <svg width="50" height="50">
              <use xlink:href="../assets/svg/sprite.svg#suit"></use>
            </svg>
          </span>
        </label>

        <label>
          <input type="radio" name="couple" id="OtherEvent" class="radio__control">
          <span (click)="toggleOtherEvent(true)" class="radio__custom">
            <svg width="50" height="50">
              <use xlink:href="../assets/svg/sprite.svg#meeting"></use>
            </svg>
          </span>
        </label>
      </div>


      <!-- --- El --- -->
      <div *ngIf="BoyBoy" class="form__group form-basis">
        <label for="groom" class="form-group__label">El Novio</label>
        <input type="text" id="groom" placeholder="El nombre de él"
          class="form__group-control form__group-control--access" [(ngModel)]="userservice.selectedUser.groom"
          name="groom" #groom="ngModel">
      </div>

      <div *ngIf="BoyBoy || BoyGirl" class="form__group form-basis">
        <label for="groom" class="form-group__label">El Novio</label>
        <input type="text" id="groom" placeholder="El nombre de él"
          class="form__group-control form__group-control--access" [(ngModel)]="userservice.selectedUser.groom"
          name="groom" #groom="ngModel">
      </div>



      <!----- Ella ----->
      <div *ngIf="BoyGirl || GirlGirl" class="form__group form-basis">
        <label for="groom" class="form-group__label">La Novia</label>
        <input type="text" id="bride" placeholder="El nombre de ella"
          class="form__group-control form__group-control--access" [(ngModel)]="userservice.selectedUser.bride"
          name="bride" #bride="ngModel">
      </div>

      <div *ngIf="GirlGirl" class="form__group form-basis">
        <label for="groom" class="form-group__label">La Novia</label>
        <input type="text" id="bride" placeholder="El nombre de ella"
          class="form__group-control form__group-control--access" [(ngModel)]="userservice.selectedUser.bride"
          name="bride" #bride="ngModel">
      </div>


      <!----- Otro ----->
      <div *ngIf="otherEvent" class="form-group form-basis--lg">
        <label for="message-text" class="form-group__label">Nombre del evento</label>
        <input type="text" id="comments" class="form__group-control form__group-control--access"
          [(ngModel)]="userservice.selectedUser.otherEvent" name="otherEvent" #otherEvent="ngModel">
      </div>

      <!--  Continuacion formulario -->
      <div class="form-group form-basis">
        <label for="eventPlace" class="form-group__label">¿Dónde se celebra?</label>
        <input type="text" id="eventPlace" placeholder="El nombre de la finca / salón "
          class="form__group-control form__group-control--access" [(ngModel)]="userservice.selectedUser.eventPlace"
          name="eventPlace" #eventplace="ngModel">
      </div>

      <div class="form-group form-basis">
        <label for="date" class="form-group__label">Fecha</label>
        <input type="date" id="date" class="form__group-control form__group-control--access"
          [(ngModel)]="userservice.selectedUser.date" name="date" #date="ngModel">
      </div>


      <div class="form-group form-basis">
        <label for="email" class="form-group__label">Email</label>
        <input type="email" id="email" required class="form__group-control form__group-control--access"
          [(ngModel)]="userservice.selectedUser.email" name="email" #email="ngModel"
          pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
        <div *ngIf="!email?.valid && email?.touched">
          <p class="error">Email no válido</p>
        </div>
      </div>

      <div class="form-group form-basis">
        <label for="phone" class="form-group__label">Teléfono</label>
        <input type="tel" id="phone" required class="form__group-control form__group-control--access"
          [(ngModel)]="userservice.selectedUser.phone" name="phone" #phone="ngModel" pattern="^[9|8|7|6]\d{8}$"
          maxlength="9">
        <div *ngIf="!phone?.valid && phone?.touched">
          <p class="error">Debes introducir una teléfono válido</p>
        </div>
      </div>



      <div class="form-group form-basis">
        <label for="password" class="form-group__label">Contraseña <span>(mín. 6 caracteres)</span></label>
        <input [type]="passwordType" required id="password" class="form__group-control form__group-control--access"
          [(ngModel)]="password" name="password" #Password="ngModel" minlength="6">
        <div *ngIf="!Password?.valid && Password?.touched">
          <p class="error">Debes introducir una contraseña válida</p>
        </div>
      </div>


      <div class="form-group form-basis">
        <label for="password" class="form-group__label">Confirmar contraseña</label>
        <div class="input__group">
          <input [type]="passwordType" id="confirmPassword" required
            class="form__group-control form__group-control--access probando" name="confirmPassword"
            [(ngModel)]="confirmPassword" #confirmpassword="ngModel">
          <svg *ngIf="Password?.valid && !confirmpassword?.pristine" (click)="showPassword()" class="input__svg"
            width="25" height="25">
            <use xlink:href="../assets/svg/sprite.svg#padlock"></use>
          </svg>
        </div>
        <div *ngIf="confirmpassword?.touched && !samePassword()">
          <p class="error error--right">Las contraseñas no coinciden</p>
        </div>
      </div>

      <div class="form__group--center">
        <button type="submit" [disabled]="userForm.form.invalid || !samePassword()" class="button">Si quiero!</button>
      </div>
    </form>
</body>
