@import "../../../../styles/partials/variables";
@import "../../../../styles/partials/rem";
@import "../../../../styles/partials/modals";

.table-image {
line-height: 1.4;
background-image: url('../../../../assets/img/table.jpg');
background-size: cover;
}

// --- VALIDATION 
.form__group input {
  border-left: $main-border-radius solid transparent;
  &:valid {
    border-left-color: $success;
  }
}

.error {
  font-size: rem(12px);
  color: $danger;
}

button[disabled]{
  border: 1.5px solid $danger;
  background-color: transparent;
  color: #666666;
}
