@import "../../../../styles/partials/variables";
@import "../../../../styles/partials/rem";
@import "../../../../styles/partials/modals";

.background-image {
line-height: 1.4;
background-image: url('../../../../assets/img/login.jpg');
background-size: cover;
}

// --- VALIDATION ---
.form__group input {
  border-left: $main-border-radius solid transparent;
  &:valid {
    border-left-color: $success;
  }
}
.error {
  font-size: $font-xs;
  color: $danger;
  &--backend {
    font-size: $font-s;
  }
}

span {
  color: $gray200;
  font-size: $font-s;
}

@media screen and (max-width: 767px) {
  span {
    font-size: $font-xs;
  }
}