<div class="table-image">
  <main class="main main-left">
    <div class="maincontainer">
      <form class="form" (ngSubmit)="signIn(login)" #login="ngForm" novalidate=""> 
        <div class="form__group--center">
          <h1 class="form__title">Iniciar sesión</h1>
        </div>
        <div class="form__group">
          <label for="user" class="form-group__label">Usuario</label>
          <input type="email" id="email" email 
          required class="form__group-control"
          [(ngModel)]="user.email" name="email" #email="ngModel"
          pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
        </div>
        <div *ngIf="!email?.valid && email?.touched">
          <p class="error">Email no válido</p>
        </div>
        <div class="form__group">
          <label for="password" class="form-group__label">Contraseña</label>
          <input type="password" required class="form__group-control"
          #password="ngModel" minlength="6"
          [(ngModel)]="user.password" name="password">
        </div>
        <div *ngIf="!password?.valid && password?.touched">
          <p class="error">La contraseña debe tener al menos 6 dígitos</p>
        </div>
        <div class="form__group form__group--right">
          <a data-toggle="modal" data-target="#rememberPassword" >Recordar contraseña</a>
        </div>
        <div class="form__group--center">
          <button type="submit" [disabled]="login.form.invalid" class="button" >Acceder</button>
        </div>
       <!--  (click)="login(user)" 
      TAMBIEN ELIMINADOS #USER Y #PASSWORD-->
     </form>
 
      <!------------------ MODAL --------------------------->

      <div class="modal fade" id="rememberPassword" tabindex="-1" role="dialog" aria-labelledby="rememberPasswordLabel"
        aria-hidden="true">

        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <form action="..." method="get" class="form">
                <div class="form__group--center">
                  <h2 class="form__title--sm">Recordar contraseña</h2>
                </div>
                <div class="form-group">
                  <label for="remember-email" class="form-group__label">Email</label>
                  <input type="email" size=auto id="remember-email" placeholer="" required class="form__group-control">
                </div>
                <div class="form__group--center">
                  <a data-dismiss="modal" data-toggle="modal" data-target="#sentPassword" role="button"
                    class="button button--lg">Enviar</a>
                </div>
              </form>
            </div>
            <a data-dismiss="modal" class="password-modal__close">&times;</a>
          </div>
        </div>
      </div>

      <!-- modal2-->
      <div class="modal fade" id="sentPassword" tabindex="-1" role="dialog" aria-labelledby="sentPasswordLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="password-modal__body form form--login form-group--center">
            <p>En un momento recibirá un enlace en su correo para restablecer su contraseña</p>
            <a data-dismiss="modal" class="password-modal__close">&times;</a>
          </div>
        </div>
      </div>
